/* latin-ext */
@font-face {
  font-family: 'droid-reg';
  font-style: normal;
  font-weight: 400;
  src: url('droid-reg.woff');
}
/* latin */
@font-face {
  font-family: 'droid-reg';
  font-style: normal;
  font-weight: 400;
  src: url('droid-reg.woff');
}